.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 16%;}

.center2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:32%;}

.center3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	}}

.rowc {
	display: block;
	margin-left: auto;
	margin-right: auto;}

h1 {
	font-family: Perpetua;
	text-shadow: 2px 2px 8px #E1AAF4;
	padding-top: 40px;
	padding-bottom: 40px;}

h2 {
	font-family: Perpetua;
	padding-bottom: 20px;
	font-size: 35px;}

h3 {
	font-family: Perpetua;
	font-size: 32px;
	margin-left: 100px;
	}

body {
	font-family: Candara;
	font-size: 18px;
	padding-bottom: 15px;}

.has-dropcap:first-letter {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	float: left;
	color: #624F9F;
	font-size: 3.5rem;
	line-height: 0.65;
	margin: 0.1em 0.1em 0.2em 0;}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;}

.dropcap:before {
  margin-top: -0.2em;}

.dropcap:after {
  margin-bottom: -0.15em;}

.p1 {
	font-size: 14px;
	display: inline;
	margin-left:20px;}

.p2 {
	margin-left: 1100px;}

.p3 {
	margin-left: 250px;}

.p4 {
	font-size: 20px;
	margin-top: 15px;}

.pf1 {
	font-size: 20px;
	display: inline;
	margin-left: 13%;}

.pf2 {
	font-size: 20px;
	display: inline;
	margin-left: 16%;}

.pf3 {
	font-size: 20px;
	display: inline;
	margin-left: 18%;}

.nav-item .nav-link:visited
	{color: purple !important;
	}

.nav-item .nav-link:hover .nav-link:active
	{color: #A1CEFF !important;
	}

.navbar-light {
	background-color: #F3F3FF;
	}

.img {
	height: 480px;
	width: 450px;
	float: right;
	margin-top: 30px;
	margin-right: 50px;
	}

.img2 {
	height: 350px;
	width: 350px;
	float: right;
	margin-top: 30px;
	margin-right: 50px;
	padding: 20px;}

.img3 {
	height: 600px;
	width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;}

.img4 {
	height: 350px;
	width: 350px;
	float: left;
	margin-top: 30px;
	margin-right: 50px;
	}

.img5 {
	height: 230px;
	width: 230px;
	float: right;
	margin-top: -20px;
	margin-right: 50px;
	border-radius: 45%}

.img6 {
	height: 300px;
	width: 300px;}

.full {
	border: 1px solid gray;
	background-image: url('https://1.bp.blogspot.com/-gpPCNM2JjBs/W28oMHeNHqI/AAAAAAAX7u8/LQtL7fq0ZcsDrRicHfQJQMeFpwpLlVFMwCLcBGAs/s1600/AW1528222_00.gif');
	background-size: 200px;
	background-position: center;
	value: cover;
	}

mark {
	background-color: #C5F8FF;
	color: black;}

.blurbox {
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px 18px #888888;
	height: 200px;
	width: 900px;
	margin-top:20px;
	float: right;
	}

.GeneratedMarquee {
	font-family:'Comic Sans MS';
	font-weight:bold;
	line-height:20px;
	color:#CC99CC;
	margin-top:-30px;}

.blurbox2 {
	border: 1px solid;
	padding: 25px;
	padding-box: 10px;
	box-shadow: 5px 10px 18px #888888;
	height: 220px;
	width: 200px;
	margin-top: -5px;
	float: left;}

.blurbox3 {
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px 18px #888888;
	height: 200px;
	width: 400px;
	margin-top:20px;
	float: right;
	}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #DBD8EE;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;}

#myBtn:hover {
  background-color: #D5CFF8;}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #DBD8EE;
}

